<% line_items.each do | item | %>
  <div class="cart-product-list">
    <div> 
      <h4 class="text-center"><%= item.product.name %></h4>
      <div class="d-flex">
        <%= image_tag (item.product.image.variant(:thumb)), width: '100', alt: item.product.name %>
        <div class="d-flex">
          <p class="quantity">Quantity: x <%= item.quantity %></p>
        </div>
        <div>
          <p>Price: x1 <%= number_to_currency(item.product.price) %></p>
          <p>Total: <%= number_to_currency(item.total_price) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
