<%= turbo_frame_tag dom_id(product), class: 'p-0 m t-3 col-12 col-sm-6 col-md-4 col-lg-3' do %>
  <div class="card shadow-sm">
   <% if product.image.attached? %>
    <%= image_tag product.image.variant(:medium), class: 'card-img-top', width: '260', height: '260', alt: product.name %>
   <% end %>
    <div class="card-body px">
      <%= link_to product do %>
        <h5 class="card-title text-center"><%= product.name %></h5>
      <% end %>
      <p class="card-text"><%= product.description %></p>
      <div class="d-flex card-footer">
        <%= button_to (current_product_quantity(product.id).present?) ? "In cart" : "Add to cart", line_items_path(product_id: product.id), class: "btn btn-primary add-to-cart" %>
        <p class="card-price mt-auto text-end"><%= number_to_currency(product.price) %></p>
      </div>
        <div class="qty-btns d-flex">
          <%= button_to product_path(product), params: { action_item: 'decrease' }, method: :patch, class: 'btn btn-primary' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
          <% end %>
          <p class="quantity"><%= (current_product_quantity(product.id).present?) ? current_product_quantity(product.id).quantity : 1 %></p>
          <%= button_to product_path(product), params: { action_item: 'increase' }, method: :patch, class: 'btn btn-primary' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
