<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "custom/common" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <%= turbo_stream_from 'cart-total' %>
    <div class="row">
      <%= render partial: "layouts/template/header/navbar" %>
    </div>
    <main class="container">
      <%= render partial: "layouts/template/flash_message" %>
      <%= yield %>
    </main>
  </body>
</html>
