<div class="row">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h2 class="text-center">Latest products</h2>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="card col-sm-6 col-md-3 p-0">
      <img src=<%= product.image %> class="card-img-top" alt=<%= product.name %>>
      <div class="card-body px">
        <h5 class="card-title text-center"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <p class="card-price text-right"><%= product.price %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>