<div class="row">
  <h2 class="text-center">Latest products</h2>
</div>
<div class="row d-flex justify-content-between">
  <% @products.each do |product| %>
    <%= link_to product, class: "card col-sm-6 col-md-3 p-0 mt-3 shadow-sm" do %>
      <img src=<%= product.image %> class="card-img-top" alt=<%= product.name %>>
      <div class="card-body px">
        <h5 class="card-title text-center"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <p class="card-price mt-auto text-end">$<%= product.price %></p>
      </div>
    <% end %>
  <% end %>
</div>